<div class="row justify-content-between pb-5">
    <div class="col-5">
        <form>
            <h4>CONTACT US DIRECTLY</h4>
            <div class="input-group mt-5 mb-3">
                <span class="input-group-text">Fullname</span>
                <input type="text" id="contactFullName" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input type="text" id="contactEmail " class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Subject</span>
                <input type="text" id="contactSubject" class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-text">Your message</span>
                <textarea class="form-control"></textarea>
            </div>
            <div class="input-group btn-group mt-3">
                <button type="reset" class="btn btn-outline-primary">Reset</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-5">
        <h4 class="mb-5">FIND US ON MAP</h4>
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.796451616792!2d105.77699657470546!3d10.033648972455506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881f9a732075%3A0xfa43fbeb2b00ca73!2sCUSC%20-%20Cantho%20University%20Software%20Center!5e0!3m2!1svi!2s!4v1685033363382!5m2!1svi!2s"
        width="400"
        height="400" style="border:0; display: block; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>