<nav class="navbar bg-dark pb-4">
    <div class="container">
        <div class="row w-100">
            <div class=" col-lg-5">
                <div class="row pt-2">
                    <div class="col-4">
                        <div class="footer-item-header">
                            Social Media
                        </div>
                        <div class="d-flex flex-grow-1 footer-item-content social-media justify-content-between">
                            <a href="https://cusc.ctu.edu.vn/" target="_blank">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://cusc.ctu.edu.vn/" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="https://cusc.ctu.edu.vn/" target="_blank">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="https://cusc.ctu.edu.vn/" target="_blank">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-4">
                        Visitors: {{ visitors }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row pt-2 flex-column text-start">
                    <a class="py-1" routerLink="/contact">Contact us</a>
                    <a class="py-1" routerLink="/faq">FAQ</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row pt-2">
                    <div class="col">
                        <div class="footer-item-header">
                            newsletter
                        </div>
                        <div class="input-group pt-2">
                            <input class="form-control" type="text" placeholder="Your email">
                        </div>
                        <div class="input-group pt-2">
                            <button type="button" class="form-control btn btn-warning">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar copyright py-3">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col">
                copyright
            </div>
        </div>
    </div>
</nav>