<div class="warranty">
    <div class="row py-5">
        <div class="col-4">
            <img src="assets/images/service-ac.png" alt="">
        </div>
        <div class="col 8">
            <h3>BRYANT RED SHIELD WARRANTY</h3>
            <p>
                Select Evolution™ System products come with the 10-year Bryant Red Shield Unit Replacement Limited
                Warranty
                if registered within 90 days of installation. Should a major component like the compressor, evaporator
                coil
                or heat exchanger fail due to defect during this applicable time-period, a one-time replacement with a
                comparable Bryant unit will be provided. The unit replacement warranty will default to a five-year unit
                replacement limited warranty if registration is not completed within 90 days of installation.
            </p>
        </div>
    </div>
    <div class="row pb-5 text-center bg-grey">
        <div class="col-12">
            <h3 class="pt-3">WARRANTY COVERAGE</h3>
            <p>
                The terms and coverage details of your warranty are specific to the Bryant product models you own.
                Typically, Bryant products, if registered within 90 days, come with a 10-year standard parts limited
                warranty; otherwise 5 years2. Depending on your model, certain components within the system may have
                different standard warranty periods. Additionally, Bryant dealers can also offer optional labor
                warranties to further protect your investment. Even with the standard parts warranty, repair labor bills
                can range from $100 to $1000 or more.
            </p>
            <p>
                To learn the exact details of your warranty, refer to the product documentation that came with your
                product. If your model is listed on our website, the documentation may be available for download. Or, if
                you are unable to find your documentation, you can always contact your local experienced Bryant dealer
                for assistance in determining your warranty coverage. At the time of purchase, you may also have also
                been offered additional warranty coverage provided by your Bryant dealer, but not underwritten by Bryant
                Heating & Cooling. If you have additional coverage through your dealer, please contact him or her
                directly for assistance with the warranty.
            </p>
        </div>
    </div>
</div>