.product-detail-preview {
  .image__main {
    width: 600px;
    height: auto;
  }
  .image__thumb {
    height: 120px;
    width: 100%;
    &.active {
      border: solid 2px #A3ADFF;
    }
  }
  .image-wrapper {
    background-color: #e4e9eb;
    &__small {
      height: 300px;
    }
  }
  .color-pallete {
    .color {
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      &.active {
        border: none;
        outline: 2px solid #A3ADFF;
      }
      &.white {
        background-color: white;
        border: solid 1px;
      }
      &.grey {
        background-color: grey;
      }
    }
  }
}

.c-wrapper {
  .c-item {
    width: 120px;
    h1,h2,h3,h4,h5,h6 {
      color: grey;
    }
    i {
      width: 50px;
      height: 50px;
      font-size: 36px;
    }
    p {
      font-weight: 600;
    }
  }
}

.add-to-cart {
  padding: 10px 20px;
  border-radius: 25px 25px;
}

.product-detail {
  list-style-type: none;
  li {
    cursor: pointer;
    padding: 0 50px;
    color: grey;
    &.active, &:hover {
      color: #A3ADFF;
    }
  }
  .content {
    background-color: #e4e9eb;
  }
}

.product-detail-content {
  background-color: #e4e9eb;
}