<div class="row">
  <div class="col-12 review-item py-3">
    <h6>Jame House</h6>
    <app-rating [rating]="5"></app-rating>
    <p>Really good air conditioner</p>
  </div>
</div>
<div class="row">
  <div class="col-12 review-item py-3">
    <h6>Rick Charles</h6>
    <app-rating [rating]="4"></app-rating>
    <p>Really good air conditioner</p>
  </div>
</div>
<div class="row review-item ">
  <div class="col-6 pt-2 d-flex flex-column">
    <h6>Please input your review</h6>
    <textarea></textarea>
    <button class="btn btn-primary mt-3">Submit</button>
  </div>
</div>