<div class="row pb-5">
  <div class="col-12 text-center">
    <h2>FREQUENTLY ASKED QUESTIONS</h2>
  </div>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          I need help troubleshooting a problem with my equipment.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          HDD also provides a network of troubleshooting technicians at HDD distribution centers across the country.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Where can I find literature about my HDD products, such as owner’s manuals, installation guides and product
          specifications?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Our thorough product documents div has complete information with manuals and guides. Just use the search tool
          to locate the right information for your model
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Which HDD equipment will best fit my home?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          There are many factors that affect the sizing and specifications of your system, including square footage,
          insulation, window surface and configuration, geographic location of your home, duct sizing and arrangement,
          and many others. HDD can perform an in-home load analysis to determine which equipment combinations will
          perfectly suit your home and your family's needs.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What does my warranty cover?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Under the standard factory limited warranty, HDD covers defects in material and workmanship during the
          warranty period. If a defect is found within the warranty period, HDD will provide a new or remanufactured
          part, at HDD’s sole option, without charge for the part itself. The limited warranty does not cover labor. A
          warranty certificate was included with your homeowner information packet, and is specific to the model
          numbers, serial numbers and installation dates of your products.
        </div>
      </div>
    </div>
  </div>
</div>