<div class="row">
    <div class="banner jumbotron">
        <div class="container">
            <div class="display-4">Best A/C Seller</div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col">Top brands:</div>
</div>
<div class="logo row justify-content-between">
    <div class="col-2"><img src="assets/images/gree.png" alt=""></div>
    <div class="col-2"><img src="assets/images/hitachi.png" alt=""></div>
    <div class="col-2"><img src="assets/images/panasonic.png" alt=""></div>
    <div class="col-2"><img src="assets/images/toshiba.png" alt=""></div>
</div>