.banner {
    position: relative;
    background-image: url('../../../assets/images/bestac.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    color: #ffffff;
    padding: 20px;
}
.logo {
    img {
        height: 120px;
        width: 160px;
    }
}