<div class="row">
    <div *ngFor="let prod of products" class="col-md-3">
        <div class="card mb-4">
            <img [src]="prod.picture">
            <div class="card-body">
                <h5 class="card-title">{{ prod.name }}</h5>
                <p class="card-text">{{ prod.brand }}</p>
                <app-rating [rating]="prod.rating"></app-rating>
                <p class="card-text">{{ prod.price }}</p>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-3">
        <div class="card mb-4">
            <img src="assets/images/banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <app-rating [rating]="3.5"></app-rating>
                <p class="card-text">$1'200</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="assets/images/banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <app-rating [rating]="4.5"></app-rating>
                <p class="card-text">$1'200</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="assets/images/banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <app-rating [rating]="3"></app-rating>
                <p class="card-text">$1'200</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="assets/images/banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <app-rating [rating]="5"></app-rating>
                <p class="card-text">$1'200</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="assets/images/banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product name</h5>
                <app-rating [rating]="2.5"></app-rating>
                <p class="card-text">$1'200</p>
            </div>
        </div>
    </div> -->
</div>