.card {
    width: 18rem;
    img {
        height: 200px;
        background-color: #e3e4e4;
    }
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    &:hover {
        outline: solid 2px #A3ADFF;
    }
}