<div class="row">
    <div *ngFor="let prod of products" class="col-12 col-xs-12 col-sm-6 col-md-3">
        <div class="card mb-4" (click)="chooseProduct(prod.id)">
            <img [src]="prod.picture">
            <div class="card-body">
                <h5 class="card-title">{{ prod.name }}</h5>
                <p class="card-text">{{ prod.brand }}</p>
                <app-rating [rating]="prod.rating"></app-rating>
                <p class="card-text">{{ prod.price }}</p>
            </div>
        </div>
    </div>
</div>